= form_for @residencyapplication do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :organisation
    %br
    = f.text_field :organisation
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :address1
    %br
    = f.text_field :address1
  %p
    = f.label :address2
    %br
    = f.text_field :address2
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :county
    %br
    = f.text_field :county
  %p
    = f.label :postcode
    %br
    = f.text_field :postcode
  %p
    = f.label :country_of_residence
    %br
    = f.text_field :country_of_residence
  %p
    = f.label :country_of_origin
    %br
    = f.text_field :country_of_origin
  %p
    = f.label :gender
    %br
    = f.number_field :gender
  %p
    = f.label :contact_phone
    %br
    = f.text_field :contact_phone
  %p
    = f.label :field_of_interest
    %br
    = f.text_field :field_of_interest
  %p
    = f.label :urls
    %br
    = f.text_area :urls
  %p
    = f.label :languages_spoken
    %br
    = f.text_field :languages_spoken
  %p
    = f.label :cv
    %br
    = f.text_field :cv
  %p
    = f.label :other_attachment
    %br
    = f.text_field :other_attachment
  %p
    = f.label :preferred_dates
    %br
    = f.text_field :preferred_dates
  %p
    = f.label :funny_question
    %br
    = f.text_area :funny_question
  %p
    = f.label :other_questions
    %br
    = f.text_area :other_questions
  %p
    = f.label :how_did_hear
    %br
    = f.text_area :how_did_hear
  %p
    = f.label :reason
    %br
    = f.text_area :reason
  %p
    = f.label :residencytype_id
    %br
    = f.number_field :residencytype_id
  %p
    = f.submit
