- title "Residencyapplication"

%p
  %strong Name:
  = @residencyapplication.name
%p
  %strong Organisation:
  = @residencyapplication.organisation
%p
  %strong Email:
  = @residencyapplication.email
%p
  %strong Address1:
  = @residencyapplication.address1
%p
  %strong Address2:
  = @residencyapplication.address2
%p
  %strong City:
  = @residencyapplication.city
%p
  %strong County:
  = @residencyapplication.county
%p
  %strong Postcode:
  = @residencyapplication.postcode
%p
  %strong Country Of Residence:
  = @residencyapplication.country_of_residence
%p
  %strong Country Of Origin:
  = @residencyapplication.country_of_origin
%p
  %strong Gender:
  = @residencyapplication.gender
%p
  %strong Contact Phone:
  = @residencyapplication.contact_phone
%p
  %strong Field Of Interest:
  = @residencyapplication.field_of_interest
%p
  %strong Urls:
  = @residencyapplication.urls
%p
  %strong Languages Spoken:
  = @residencyapplication.languages_spoken
%p
  %strong Cv:
  = @residencyapplication.cv
%p
  %strong Other Attachment:
  = @residencyapplication.other_attachment
%p
  %strong Preferred Dates:
  = @residencyapplication.preferred_dates
%p
  %strong Funny Question:
  = @residencyapplication.funny_question
%p
  %strong Other Questions:
  = @residencyapplication.other_questions
%p
  %strong How Did Hear:
  = @residencyapplication.how_did_hear
%p
  %strong Reason:
  = @residencyapplication.reason
%p
  %strong Residencytype:
  = @residencyapplication.residencytype_id

%p
  = link_to "Edit", edit_residencyapplication_path(@residencyapplication)
  |
  = link_to "Destroy", @residencyapplication, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", residencyapplications_path
