= semantic_form_for [:admin, @page], :html => {:multipart => true } do |f|
  #language-tabs
    = f.input :slug
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "picklang-#{locale}"}= link_to t(:language_name, :locale => locale), "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          = "#{t :title} #{t(:language_name, :locale => locale)}"
          = en.text_field :title
          .clearfix
            = "#{t :body} #{t(:language_name, :locale => locale)}"
          = en.text_area :body, :class => :ckeditor
          = "abstract, etc in #{t(:language_name, :locale => locale)}"
          = en.text_area :abstract, :class => :ckeditor
  = f.submit
