%h2= t :page

%b= @page.title

%p
  %strong Slug:
  = @page.slug
= raw @page.body
%p
  = link_to t(:edit), edit_page_path(@page)
  |
  %span.destroy= link_to t(:destroy), @page, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "#{t :view_all} #{t :pages}", pages_path
