= semantic_form_for [:admin, @funder], :html => {:multipart => true } do |f|
  = f.input :name
  #language-tabs
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "picklang-#{locale}"}= link_to t(:language_name, :locale => locale), "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %b= "#{t :description} (#{t(:language_name, :locale => locale)})"
          = en.text_area :description, :class => :ckeditor
  = if f.object.logo?
    = image_tag f.object.logo.url(:thumbnail)
    = f.input :remove_logo, :as => :boolean
  = f.input :logo
  = f.submit
