%h3= t :funders
%table
  %thead
    %th 
    %th Name
    %th{:colspan => 3} actions
  %tbody
    - for funder in @funders
      %tr{:class => cycle('odd', 'even')}
        %td
          - if funder.logo?
            = image_tag funder.logo.url(:thumbnail)
        %td= funder.name
        %td= link_to "Show", [:admin, funder]
        %td= link_to "Edit", edit_admin_funder_path(funder)
        %td.destroy= link_to "Destroy", [:admin, funder], :data => {:confirm => t(:are_you_sure) }, :method => :delete

%p= button_to "#{t :create_new} #{t :funder}", new_admin_funder_path, :method => :get
