%h3= t :funders
%table
  %thead
    %th 
    %th= t :name
    %th{:colspan => 3}= t :actions
  %tbody
    - for funder in @funders
      %tr{:class => cycle('odd', 'even')}
        %td
          - if funder.logo?
            = image_tag funder.logo.url(:thumbnail)
        %td= funder.name
        %td= link_to t(:details), [:admin, funder]
        %td= link_to t(:edit), edit_admin_funder_path(funder)
        %td.destroy= link_to t(:destroy), [:admin, funder], :data => {:confirm => t(:are_you_sure) }, :method => :delete

%p= button_to "#{t :create_new} #{t :funder}", new_admin_funder_path, :method => :get
