%h2= t :funder
%h3= @funder.name
.funder_description= raw @funder.description

- if @funder.visits.empty?
  %p 
    No visits funded by 
    = @funder.name
- else
  .funder_visits
    = t :visits
    - @funder.visits.each do |fv|
      .funder_visit
        .artist= fv.artist.name
        = "(#{fv.dates})"