
%h2= t :events

%table
  %thead
    %th= t :dates
    %th= t :name
    %th= t :cost
    %th{:colspan => 3}= t :actions
  %tbody
    - @events.each do |event|
      %tr{:class => cycle('odd', 'even')}
        %td= event.start_at.strftime("%b %d %Y")
        %td
          = event.name
          - unless event.images.empty?
            .image_data
              %em= pluralize(event.images.size, 'image')    
          - unless event.videos.empty?
            .image_data
              %em= pluralize(event.videos.size, 'video')
          - unless event.sounds.empty?
            .image_data
              %em= pluralize(event.sounds.size, 'sounds')                
        %td= event.cost
        %td= link_to t(:details), admin_event_path(event)
        %td= link_to t(:edit), edit_admin_event_path(event)
        %td.destroy= link_to t(:destroy), [:admin, event], :confirm => "sure?", :method => :delete
          

= button_to "#{t :create_new} #{t :event}", new_admin_event_path, :method => :get
