.visit.column
  .date= date_range(visit.display_dates.first, visit.display_dates.last, :format => :long)
  - unless visit.funders.empty?
    .funder_credit
      = t :supported_by
      = visit.funders.map(&:name).join(' / ')
  .description= raw visit.description
  - unless visit.images.empty?
    .image_array.clearfix= render :partial => 'shared/image_gallery', :locals => {:image_array => visit.images} 