%h2= t :budget_area
%p
  %strong= t :name
  = @budgetarea.name
%p
  %strong= t :active
  = @budgetarea.active
%p
  = link_to t(:edit), edit_admin_budgetarea_path(@budgetarea)
  |
  %span.destroy=link_to t(:destroy), [:admin, @budgetarea], :data => {:confirm => t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :budget_areas}", admin_budgetareas_path
