= semantic_form_for [:admin, @publicity] do |f|
  = f.input :name, :label => t(:name_of_article)
  = f.input :source, :label => t(:source), :hint => t(:name_of_publication)
  = f.input :author
  = f.input :attachment, :label => t(:attachment), :hint => t(:press_material)
  = f.input :url, :label => t(:url_to_press), :hint => t(:web_based)
  = f.input :project, :label => t(:project), :hint => t(:optional)
  = f.input :event, :label => t(:event), :hint => t(:optional)
  = f.input :visit, :label => t(:artist) + '/' + t(:residency), :hint => t(:optional)
  = f.input :sortorder, :label => t(:sort_order), :hint => t(:sort_order_hint)
  = f.submit
