%h2= t :press_publicity_links
%p
  %strong= t :name
  = @publicity.name
%p
  %strong= t :source
  = @publicity.source
%p
  %strong= t :author
  = @publicity.author
- if @publicity.attachment?  
  %p
    %strong= t :attachment
    = link_to t(:download_box), @publicity.attachment.url
%p
  %strong Url:
  = @publicity.url
%p
  %strong= t :project
  = @publicity.project
%p
  %strong= t :event
  = @publicity.event
%p
  %strong= t :artist
  = @publicity.visit
%p
  %strong Sortorder:
  = @publicity.sortorder
%p
  = link_to "Edit", edit_admin_publicity_path(@publicity)
  |
  \#{link_to "Destroy", [:admin, @publicity], :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", admin_publicities_path}
