%h2= t :expense
%p
  %strong= t :date_paid
  = @expense.date_paid
%p
  %strong= t :recipient
  = @expense.recipient
%p
  %strong= t :what
  = @expense.what_for
%p
  %strong= t :event
  = @expense.event
%p
  %strong= t :amount
  = @expense.amount

%p
  %strong= t :budget_area
  = @expense.budgetarea
%p
  %strong= t :has_receipt
  = @expense.has_receipt
%p
  = link_to t(:edit), edit_admin_expense_path(@expense)
  |
  %span.destroy= link_to t(:destroy), [:admin, @expense], :data => {:confirm => t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :expenses}", admin_expenses_path
