%h2 artists
%table.with_border
  %thead
    %th 
    %th Name
    %th Email
    %th actions
  %tbody
    - for artist in @artists
      %tr
        %td{:rowspan => 2}
          - if artist.avatar?
            = image_tag artist.avatar.url(:thumbnail)
        %td
          = artist.name
          - unless artist.user.blank?
            = raw "[#{link_to(artist.user.username, [:admin, artist.user])}]"
        %td= artist.email
        %td
          = link_to "Show", [:admin, artist]
          = link_to "Edit", edit_admin_artist_path(artist)
          = link_to "Destroy", [:admin, artist], :confirm => 'Are you sure?', :method => :delete
      %tr
        - if artist.visits.empty?
          %td{:colspan => 3} No visits
        - else
          %td{:colspan => 3}
            %table{:style => "table-layout: fixed; padding: 10px;"}
              %thead
                %th Visits: dates
                %th Projects/events
                %th actions
              %tbody
                - artist.visits.sort_by(&:start_date).each do |visit|
                  %tr
                    %td= visit.dates
                    %td= visit.activities
                    %td
                      = link_to 'edit', edit_admin_visit_path(visit)
                      = link_to 'destroy', [:admin, visit], :confirm => 'you sure?', :method => :delete

%p= link_to "create new artist", new_admin_artist_path
