
%h2= @projecttype.name
%strong= t :is_major
= @projecttype.is_major

- if @projecttype.projects.empty?
  %p= t :no_projects_type
- else
  
  .project_list
    %strong= t :projects
    - @projecttype.projects.each do |p|
      .project= link_to p.name, [:admin, p]

%p
  = link_to t(:edit), edit_admin_projecttype_path(@projecttype)
  |
  %span.destroy= link_to t(:destroy), [:admin, @projecttype], :data => {:confirm => t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :projecttypes}", admin_projecttypes_path
