%h2
  = t :invoice
  = t :details

%p
  %strong= t :contact
  = @invoice.contact_id
%p
  %strong= t :when
  = @invoice.date_issued
%p
  %strong= t :due
  = @invoice.date_due
%p
  %strong #
  = @invoice.number
%p
  %strong= t :amount
  = @invoice.amount
%p
  %strong= t :attachment
  - if @invoice.attachment?
    = link_to t(:download_box), @invoice.attachment
%p
  %strong= t :what
  = @invoice.what_for

%p
  = link_to t(:edit), edit_admin_invoice_path(@invoice)
  |
  %span.destroy= link_to t(:destroy), [:admin, @invoice], :data => {:confirm => t(:are_you_sure) }, :method => :delete
  |
  = link_to "#{t :view_all} #{t :invoices}", admin_invoices_path
