%div{:id => "images_" + image_array.first.id.to_s}
  = image_tag image_array.first.filename.url(:large)
   
%div{:id => "slides_" + image_array.first.id.to_s}
  - image_array.each do |image|
    = link_to(image_tag(image.filename.url(:box), :class => :thumb, :border => 0), '#', :rel => image.filename.url(:large), :class => "slide_image")

:javascript
  $("#slides_#{image_array.first.id.to_s} .slide_image").click(function() {
    var image = $(this).attr("rel");
    $('#images_#{image_array.first.id.to_s}').hide();
    $('#images_#{image_array.first.id.to_s}').fadeIn('slow');
    $('#images_#{image_array.first.id.to_s}').html('<img src="' + image + '"/>');
    return false;
  });