%h2= t :residencyapplications

%table
  %thead
    %th= t :name
    %th= t :residency_type
    %th{:colspan => 3}
  %tbody
    - @residencyapplications.sort_by{|x| x.created_at }.reverse.each do |app|
      %tr{:class => cycle('odd','even')}
        %td= app.name
        %td= app.residencytype.try(:name)
        %td= link_to "Show", [:admin, app]
        %td= link_to "Edit", edit_admin_residencyapplication_path(app)
        %td.destroy= link_to "Destroy", [:admin,  app], :confirm => 'Are you sure?', :method => :delete        