.page_heading
  - if @title.nil?
    = t :events
  - else
    = @title

.event
  - if @event.nil?
    %h2= t :no_current_exhibition
    %p= t :check_past_exhibitions
    = link_to t(:archive), project_path('exhibition')
  - else
    = render partial: 'event', locals: {event: @event}
    .event_description= raw @event.description
    - unless @event.images.empty?
      .inline_gallery= render :partial => 'shared/image_gallery', :locals => {:image_array => @event.images }