.page_heading
  - if @title.nil?
    = t :events
  - else
    = @title

.event
  = render partial: 'event', locals: {event: @event}
  .event_description= raw @event.description
  - unless @event.images.empty?
    .inline_gallery= render :partial => 'shared/image_gallery', :locals => {:image_array => @event.images }