= semantic_form_for [:admin, @project], :html => {:multipart => true} do |f|
  #language-tabs
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "picklang-#{locale}"}= link_to t(:language_name, :locale => locale), "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %b= "Name in #{t(:language_name, :locale => locale)}"
          = en.text_field :name
          %b= "Description in #{t(:language_name, :locale => locale)}"  
          = en.text_area :description, :class => :ckeditor
  = f.input :projecttype
  = f.input :website1
  = f.input :website2    
  = f.input :avatar
  = f.input :proposable, :label => "Accept proposals for this project on proposal form?"
  = f.input :active, :label => "Is an active project?"
  = f.input :published
  = f.submit
