.project.column
  .page_heading= @project.name

  - if @project.avatar?
    .project_image= image_tag @project.avatar.url(:large)
  - elsif !@project.events.empty?
    - unless @project.events.map(&:images).uniq.empty?
      .inline_gallery= render :partial => 'shared/image_gallery', :locals => {:image_array => @project.events.map(&:images).flatten }

  .project_description= raw @project.description  


  - unless @project.events.empty?
    .project_events
      .sub_heading= t :events
      - @project.events.each_with_index do |e, i|
        .project_event.three.columns{:class => i % 4 == 0 ? "alpha clr" : false }= render :partial => 'project_event' , :locals => {:event => e}  