= semantic_form_for [:admin, @contact] do |f|
  = f.input :contact_person
  = f.input :organisation
  = f.input :address1
  = f.input :address2
  = f.input :city
  = f.input :county
  = f.input :postcode
  = f.input :country
  = f.input :phone
  = f.input :website
  = f.input :email
  = f.submit
