%h2= t :contacts

%table
  %thead
    %th Contact person
    %th Organisation
    %th City
    %th Country
    %th Website
    %th Email
    %th{:colspan => 3} actions
  %tbody
    - for contact in @contacts
      %tr{:class => cycle('odd', 'even')}
        %td= contact.contact_person
        %td= contact.organisation
        %td= contact.city
        %td= contact.country
        %td= contact.website
        %td= contact.email
        %td= link_to t(:details), [:admin, contact]
        %td= link_to t(:edit), edit_admin_contact_path(contact)
        %td.destroy= link_to t(:destroy), [:admin, contact], :data => {:confirm => t(:are_you_sure)}, :method => :delete

= button_to "#{t :create_new} #{t :contact}", new_admin_contact_path, :method => :get
