%h2= t :contact

%p
  %strong= t :contact_person
  = @contact.contact_person
%p
  %strong= t :organisation
  = @contact.organisation
%p
  %strong= t :address
  = @contact.address1
  = @contact.try(:address2)
  = @contact.city
  = @contact.county
  = @contact.postcode
  = @contact.country
%p
  %strong= t :phone
  = @contact.phone
%p
  %strong= t :website
  = link_to @contact.website, @contact.website
%p
  %strong= t :email
  = @contact.email

%p
  = link_to t(:edit), edit_admin_contact_path(@contact)
  |
  %span.destroy= link_to t(:destroy), [:admin, @contact], :data => {:confirm => t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :contacts}", admin_contacts_path
