= semantic_nested_form_for [:admin, @post], :html => {:multipart => true} do |f|
  = f.input :user,  :as => :select,  :collection => User.all.map{|x| [x.username, x.id]},:include_blank => 'MoKS (no specific person)', :label => "Post as: "
  = f.input :event, :collection => Event.all, :hint => "optional"
  = f.input :postcategory, :include_blank => false, :label => t(:post_category)
  = f.input :sticky, :as => :boolean, :label => "Make sticky"
  #language-tabs
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "picklang-#{locale}"}= link_to t(:language_name, :locale => locale), "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %b= "Name in #{t(:language_name, :locale => locale)}"
          = en.text_field :title
          .clearfix
            %b= "Post content in #{t(:language_name, :locale => locale)}"
            = en.text_area :body, :class => "ckeditor" 
  = f.fields_for :images do |ff|
    .add_image.clearfix
      %p Add an image to this post:
      - unless ff.object.new_record?
        = image_tag ff.object.filename.url(:thumbnail)
      = ff.input :filename, :as => :file
      = ff.input :credit
      = ff.link_to_remove 'remove this image'
  .nested_fields= f.link_to_add 'add an image', :images
  .after
    = f.fields_for :carousels do |ff|
      - if ff.object.carousel_image?
        = image_tag ff.object.carousel_image.url(:thumb)
        = ff.input :active
      = ff.input :carousel_image
      = ff.link_to_remove t(:remove_this) + " " + t(:carousel_image)
    = f.link_to_add t(:add) + " " +  t(:frontpage_carousel_image), :carousels
    -# - else
    -#   .three.columns= t :existing_carousel_image
    -#   .two.columns= image_tag f.object.carousel.carousel_image.url(:thumb)
    -#   = f.input :remove_carousel, :as => :boolean

  = f.submit

