%h1= link_to t(:view_on_public_site), @post
%h2= @post.title
%h5= "#{t :posted_by} #{@post.posted_by}" if @post.published?
%h6= "#{@post.posted_at.strftime("%b %d %Y")}" if @post.published?

- unless @post.carousels.empty?
  %h5= t :carousel_images
  - @post.carousels.each do |c|
    = image_tag c.carousel_image.url(:full)
    - if c.active == true
      %b= t :published
    - else
      %b= t :unpublished

= raw @post.body

- if @post.images 
  %h4 Attached images:
  - @post.images.each do |image|
    .image= image_tag image.filename.url(:standard)
= link_to  t(:edit), edit_admin_post_path(@post) 
|
%span.destroy= link_to t(:destroy), [:admin, @post], :confirm => 'Are you sure?', :method => :delete 
|
= link_to "#{t :view_all} #{t :posts}", admin_posts_path 