%h2
  = t :incomes
%table
  %thead
    %th= t :date_received
    %th= t :source
    %th= t :what
    %th= t :amount
    %th= t :invoice
    %th= t :budget_area
    %th{:colspan => 3}= t :actions
  %tbody
    - for income in @incomes
      %tr{:class => cycle('odd', 'even')}
        %td= l income.date_received
        %td= income.source
        %td= income.what_for
        %td= number_to_currency income.amount
        %td
          - if !income.invoice.blank?
            = link_to income.invoice.name, [:admin, income.invoice]
        %td= income.budgetarea.nil? ? "" : income.budgetarea.name
        %td= link_to t(:details), [:admin, income]
        %td= link_to t(:edit), edit_admin_income_path(income)
        %td.destroy= link_to t(:destroy), [:admin, income], :data => {:confirm => t(:are_you_sure)}, :method => :delete
= button_to "#{t :add_new} #{t :payment_received}", new_admin_income_path, :method => :get
