= semantic_form_for [:admin, @registration] do |f|
  = f.input :name
  = f.input :email
  = f.input :phone
  = f.input :amount_paid
  = f.input :comments
  = f.input :optional_answer
  = f.input :event
  = f.input :actually_showed_up
  = f.input :waiting_list
  = f.submit
