%h2= t :documents


%p= button_to "#{t :upload_new} #{t :document}", new_admin_document_path, :method => :get

%table
  %thead
    %th= t :name
    %th= t :uploaded_by
    %th= t :description
    %th= t :allow_public_access
  %tbody
    - for document in @documents
      %tr{:class => cycle('odd', 'even')}
        %td= document.name
        %td= document.user.username
        %td= document.description
        %td= document.public
        %td= link_to t(:details), [:admin, document], :class => "btn btn-info btn-small"
        %td= link_to t(:edit), edit_admin_document_path(document), :class => "btn btn-info btn-small"
        %td.destroy= link_to t(:destroy), [:admin, document], :data => {:confirm => t(:are_you_sure)}, :method => :delete, :class => "btn btn-danger btn-small"

%p= button_to "#{t :upload_new} #{t :document}", new_admin_document_path, :method => :get
