%h3= t :document

%p
  %strong= t :name
  = @document.name
%p
  %strong= t :uploaded_by
  = @document.user.username
%p
  %strong= t :description
  = @document.description
%p
  %strong= t :attachment
  = link_to t(:download_box), @document.attachment.url

%p
  %strong= t :allow_public_access
  = @document.public

%p
  = link_to t(:edit_box), edit_admin_document_path(@document)
  |
  %span.destroy= link_to t(:destroy), [:admin, @document], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "#{t :view_all} #{t :documents}", admin_documents_path
