.page_heading= @title
= paginate @posts
.posts
  - @posts.each do |post|
    .post
      = render :partial => 'post', locals: {post: post}
      .more_link
        = link_to t(:more), post
        = " > "
= paginate @posts