%h2= t :documenttypes


%table
  %tr
    %th= t :name
  - for documenttype in @documenttypes
    %tr{:class => cycle('odd', 'even')}
      %td= documenttype.name
      %td= link_to t(:details), [:admin, documenttype]
      %td= link_to t(:edit), edit_admin_documenttype_path(documenttype)
      %td.destroy= link_to t(:destroy), [:admin, documenttype], :data => {:confirm => t(:are_you_sure)}, :method => :delete

%p= button_to "#{t :define_new} #{t :documenttype}", new_admin_documenttype_path, :method => :get
