%h2= t :documenttype

%p
  %strong= t :name
  = @documenttype.name

%p
  = link_to t(:edit_box), edit_admin_documenttype_path(@documenttype)
  |
  %span.destroy= link_to t(:destroy), [:admin, @documenttype], :data => {:confirm =>  t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :documenttypes}", admin_documenttypes_path
