= form_for [:admin, @image] do |f|
  = f.error_messages
  %p
    = f.label :attachable_id
    %br/
    = f.number_field :attachable_id
  %p
    = f.label :attachable_type
    %br/
    = f.text_field :attachable_type
  %p
    = f.label :filename
    %br/
    = f.text_field :filename
  %p
    = f.label :credit
    %br/
    = f.text_field :credit
  %p
    = f.label :published
    %br/
    = f.check_box :published
  %p= f.submit
