%h3 Profile for user
- if @user.avatar?
  = image_tag @user.avatar.url(:standard)
%p= "User: #{@user.real_name} [#{@user.username}]"
%p= "Email: #{@user.email if @user.email}"

- unless @user.authentications.empty?
  Authenticated through:
- @user.authentications.each do |auth|
  %p
    = auth.provider
    = "(" + auth.uid + ")"