!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Moks"
      %meta{:content => content_for?(:description) ? yield(:description) : "Moks", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      #left.three.columns.alpha
        .logo
          = link_to '/' do
            = image_tag 'logo-moks.png'
        .sidebar= render :partial => 'shared/sidebar'
        .system= render 'layouts/navigation'
      #right.thirteen.columns.omega
        %header
          .header_wrapper.thirteen.columns
            .title= link_to 'MoKS', '/'
            %nav
              %ul
                %li= link_to t(:about), page_path('about')
                %li= link_to t(:residency), page_path('residency')
                %li= link_to t(:events), events_path
                %li= link_to t(:projects), projects_path
                %li= link_to t(:blog), posts_path
                %li= link_to t(:supporters), page_path('supporters')
                %li= link_to t(:contact), page_path('contact')

          = render 'layouts/messages'
          .thirteen.columns.yield= yield

        %footer
      / ! end of .container
    / ! end of #main
