!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Moks"
      %link{ href: '/assets/favicon.ico', rel: 'shortcut icon'}/
      %link{ href: '/assets/favicon.ico', rel: 'apple-touch-icon', }/
      %meta{:content => content_for?(:description) ? yield(:description) : "Moks", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/

        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container.main
      #left.three.columns.alpha
        .logo
          .language
            .est
              - if session[:locale] == 'et'
                = image_tag('lng-est-on.png')
                %span.m EST
              - else 
                = link_to image_tag('lng-est-off.png'), {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'et'}
                %span.m= link_to 'EST', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'et'}
            .eng
              - if session[:locale] == 'en'
                = image_tag('lng-eng-on.png')
                %span.m ENG
              - else
                = link_to image_tag('lng-eng-off.png'), {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}
                %span.m= link_to 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}
            .rus
              - if session[:locale] == 'ru'
                = image_tag('lng-rus-on.png')
                %span.m рус
              - else
                = link_to image_tag('lng-rus-off.png'), {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'ru'}
                %span.m= link_to 'рус', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'ru'}
        .mob
          .title= link_to 'MoKS', '/'
          %nav

        .sidebar= render :partial => 'shared/sidebar'
        .system= render 'layouts/navigation'
      #right.thirteen.columns.omega
        %header
          .header_wrapper.thirteen.columns
            .title= link_to 'MoKS', '/'
            %nav
              %ul#top_menu.sf-menu
                %li.children
                  = link_to t(:about), page_path('about')
                  %ul.nest
                    %li= link_to t(:supporters), page_path('supporters')
                %li.children
                  = link_to t(:current), blog_posts_path
                  %ul.nest
                    %li= nav_link t(:news), news_posts_path
                    %li= nav_link t(:events), events_path
                    %li= nav_link t(:exhibition), '/exhibition'
                    %li= nav_link t(:projects), projects_path
                    %li= nav_link t(:artists), artists_path
                %li.children
                  = link_to t(:residency), page_path('residency')
                  %ul.nest
                    %li= nav_link t(:apply), new_residencyapplication_path
                    %li= nav_link t(:artists), past_artists_path
                %li= link_to t(:gallery), page_path('gallery')
                %li= link_to t(:archive), posts_path
                -# %li= link_to t(:blog), posts_path
                
                %li= link_to t(:contact), page_path('contact')

          = render 'layouts/messages'
        .thirteen.columns.yield= yield
        .mobile_sidebar= render :partial => 'shared/sidebar'
    %footer= render :partial => 'shared/footer'
    :javascript
      $(document).ready(function() {
        $('ul.sf-menu').superfish();
        $("<select />").appendTo(".mob nav");
        $("<option />", {
          "selected" : "selected",
          "value" : "",
          "text" : "#{t :go_to}"
          }).appendTo(".mob nav select");
        $("#top_menu li a").each(function() {
          var el = $(this);
          if(el.parents('.nest').length) {
            $('<option />', {
              'value': el.attr('href'),
              'text':  '— ' + el.text()
            }).appendTo('.mob nav select');
          } else {
            $('<option />', {
              'value': el.attr('href'),
              'text': el.text()
            }).appendTo(".mob nav select");
          }
        });
        $('nav select').change(function() {
          window.location = $(this).find("option:selected").val();
        });
        #{yield :jquery}
      });


