!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Moks"
      %meta{:content => content_for?(:description) ? yield(:description) : "Moks", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      #left.three.columns.alpha
        .logo
          = link_to '/' do
            = image_tag 'logo-moks.png'
        .sidebar= render :partial => 'shared/sidebar'
        .system= render 'layouts/navigation'
      #right.thirteen.columns.omega
        %header
          .header_wrapper.thirteen.columns
            .title= link_to 'MoKS', '/'
            %nav
              %ul#top_menu.sf-menu
                %li= link_to t(:about), page_path('about')
                %li
                  = link_to t(:current), '#'
                  %ul
                    %li= nav_link t(:news), news_posts_path
                    %li= nav_link t(:events), events_path
                    %li= nav_link t(:exhibition), page_path('exhibition')
                    %li= nav_link t(:projects), projects_path
                    %li= nav_link t(:artists), artists_path
                %li
                  = link_to t(:residency), page_path('residency')
                  %ul
                    %li= nav_link t(:apply), '#'
                    %li= nav_link t(:artists), past_artists_path
                %li= link_to t(:gallery), page_path('gallery')
                %li= link_to t(:archive), '#'
                -# %li= link_to t(:blog), posts_path
                %li= link_to t(:supporters), page_path('supporters')
                %li= link_to t(:contact), page_path('contact')

          = render 'layouts/messages'
        .thirteen.columns.yield= yield

      %footer
    :javascript
      $(document).ready(){
        $('ul.sf-menu').superfish();
        #{yield :jquery}
      });
      / ! end of .container
    / ! end of #main
