%h2=t :post_category
%p
  %strong= t :name
  = @postcategory.name
%p
  = link_to t(:edit), edit_admin_postcategory_path(@postcategory)
  |
  %span.destroy= link_to t(:destroy), [:admin, @postcategory], :data => {:confirm => t(:are_you_sure)}, :method => :delete
  |
  = link_to "#{t :view_all} #{t :postcategories}", admin_postcategories_path
